{% extends 'components/base.html' %}
{% block title %}{{ title1 }}{% endblock %}
{% load static %}
{% block content %}
<body class="bg-gray-100">
    <div class="flex justify-center items-center flex-col min-h-screen">
        <h1 class="text-3xl font-bold mb-6" style="font-family: 'Jomolhari', serif; margin-top: 50px;">Nivel 3</h1>

        <!-- Mensaje emergente inicial para iniciar el nivel -->
        <div id="popup-message" class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50" style="margin-top: 90px;">
            <div class="p-8 rounded-lg shadow-lg text-center w-96" style="background-color: #EFE9E9;">
                <h2 class="text-2xl font-semibold mb-4" style="font-family: 'Jomolhari', serif;">¡Bienvenido al Nivel 3!</h2>
                <p class="text-gray-600 mb-6" style="font-family: 'Jomolhari', serif;">En este nivel aprenderás a reconocer los colores en lengua de señas.</p>
                <button id="start-level-button" class="text-white py-2 px-4 rounded-md" style="background-color: #A0A38A; font-family: 'Jomolhari', serif;">Comenzar</button>
            </div>
        </div>

        <!-- Mensaje emergente para indicar éxito en la detección del color -->
        <div id="success-message" class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50 hidden">
            <div class="bg-white p-8 rounded-lg shadow-lg text-center w-80">
                <h2 class="text-2xl font-semibold mb-4" style="font-family: 'Jomolhari', serif;">¡Color correcto!</h2>
                <p class="text-gray-600 mb-6" style="font-family: 'Jomolhari', serif;">Has realizado la seña correctamente. Haz clic en "Siguiente" para continuar con el siguiente color.</p>
                <button id="next-button" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md" style="font-family: 'Jomolhari', serif;">Siguiente</button>
            </div>
        </div>

        <!-- Contenido principal oculto inicialmente -->
        <div id="content-container" class="flex justify-center space-x-6 w-full max-w-5xl p-4 hidden" style="margin-top: -30px;">
            <!-- Cuadro izquierdo -->
            <div class="bg-white rounded-lg shadow-lg p-6" style="width: 550px;">
                <h2 class="text-2xl font-semibold mb-4" style="font-family: 'Jomolhari', serif;">Color Actual: <span id="color-actual">{{ color_actual }}</span></h2>
                <img id="imagen-color" src="{{ senal_detectada }}" alt="Imagen del Color {{ color_actual }}" class="w-64 h-64 object-contain mx-auto">
            </div>            

            <!-- Cuadro derecho con la cámara -->
            <div class="bg-white rounded-lg shadow-lg p-6" style="width: 550px;">
                <h2 class="text-2xl font-semibold mb-4" style="font-family: 'Jomolhari', serif;">Detector de Señas</h2>
                <!-- Transmisión en vivo de la cámara -->
                <img src="{% url 'core:video_feed' 'colores' %}" class="rounded-lg w-full h-auto" alt="Video en tiempo real">
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const popup = document.getElementById('popup-message');
            const contentContainer = document.getElementById('content-container');
            const successMessage = document.getElementById('success-message');
            const nextButton = document.getElementById('next-button');
            const colorActual = document.getElementById('color-actual');
            const imagenColor = document.getElementById('imagen-color');
            const startLevelButton = document.getElementById('start-level-button');

            // Cargar el color y la imagen iniciales al cargar la página
            cargarColorYImagenInicial();

            function cargarColorYImagenInicial() {
                $.ajax({
                    url: "{% url 'core:colores' %}",  // URL de la vista para obtener el color actual
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response.status === 'success') {
                            colorActual.innerText = response.letra_actual;
                            imagenColor.src = response.senal_detectada;
                        } else if (response.status === 'completado') {
                            Swal.fire({
                                title: 'Nivel completado',
                                text: response.mensaje,
                                icon: 'info',
                                confirmButtonText: 'Ir al feedback'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = response.redirigir;
                                }
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('Error al cargar el color y la imagen inicial:', error);
                    }
                });
            }

            // Mostrar el popup inicial y luego iniciar detección al permitir cámara
            startLevelButton.onclick = function() {
                popup.style.display = 'none';

                const cameraPermissionPopup = document.createElement('div');
                cameraPermissionPopup.classList.add('fixed', 'inset-0', 'flex', 'justify-center', 'items-center', 'bg-black', 'bg-opacity-50', 'z-50');
                cameraPermissionPopup.innerHTML = `
                    <div class="p-8 rounded-lg shadow-lg text-center w-96" style="background-color: #EFE9E9; margin-top: 90px;">
                        <h2 class="text-2xl font-semibold mb-4" style="font-family: 'Jomolhari', serif;">Activar Cámara</h2>
                        <p class="text-gray-600 mb-6" style="font-family: 'Jomolhari', serif;">Para realizar el nivel, necesitamos acceso a tu cámara. ¿Deseas encender la cámara ahora?</p>
                        <button id="allow-camera-button" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-md mr-4" style="background-color: #A0A38A; font-family: 'Jomolhari', serif;">Permitir</button>
                        <button id="deny-camera-button" class="bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded-md mt-2" style="background-color: #E37E18; font-family: 'Jomolhari', serif;">No permitir</button>
                    </div>
                `;
                document.body.appendChild(cameraPermissionPopup);

                const allowCameraButton = document.getElementById('allow-camera-button');
                const denyCameraButton = document.getElementById('deny-camera-button');

                allowCameraButton.onclick = function() {
                    cameraPermissionPopup.remove();
                    contentContainer.style.display = 'flex';
                    iniciarDeteccion(); // La función de detección original se inicia aquí
                };

                denyCameraButton.onclick = function() {
                    cameraPermissionPopup.remove();
                    Swal.fire({
                        title: 'Cámara requerida',
                        text: 'Necesitas activar la cámara para poder realizar este nivel.',
                        icon: 'warning',
                        confirmButtonText: 'Ok'
                    }).then(() => {
                        window.location.href = '/levels/';
                    });
                };
            };

            // Función para mostrar el mensaje de éxito cuando el color es correcto
            function mostrarMensajeExito() {
                successMessage.style.display = 'flex';
            }

            // Función para enviar el color detectado al servidor y recibir el siguiente color
            function onColorDetectado(senal_detectada) {
                $.ajax({
                    url: "{% url 'core:colores' %}",  
                    type: 'POST',
                    data: {
                        'color_realizado': senal_detectada,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.status === 'success') {
                            if (response.completado) {
                                Swal.fire({
                                    title: '¡Felicidades!',
                                    text: response.mensaje,
                                    icon: 'success',
                                    confirmButtonText: 'Ir al siguiente nivel'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = response.redirigir;
                                    }
                                });
                            } else {
                                mostrarMensajeExito();
                                nextButton.onclick = function() {
                                    colorActual.innerText = response.nuevo_color;
                                    imagenColor.src = response.nueva_imagen;
                                    successMessage.style.display = 'none';
                                };
                            }
                        } else {
                            console.log('Seña incorrecta');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('Error al enviar la seña detectada:', error);
                    }
                });
            }

            // Realizar una petición al backend para detectar el color en tiempo real
            function detectarColorDesdeBackend() {
                $.ajax({
                    url: "{% url 'core:detectar_senal' %}",
                    type: 'POST',
                    data: {
                        'tipo_leccion': 'colores',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.status === 'success') {
                            onColorDetectado(response.senal_detectada);
                        } else {
                            console.log('No se detectó ningún color.');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('Error al detectar el color:', error);
                    }
                });
            }

            // Iniciar la detección de colores a intervalos regulares
            function iniciarDeteccion() {
                setInterval(detectarColorDesdeBackend, 2000);  // Llama a la detección de color cada 2 segundos
            }
        });
    </script>      
</body>
{% endblock %}
