{% extends 'components/base.html' %}
{% block title %}{{ title1 }}{% endblock %}
{% load static %}
{% block content %}
<body class="bodyevaluate hide-buttons">
    <div class="card-eva">
        <h1>{{ leccion.name }}</h1>

        <!-- Mensaje emergente inicial -->
        <div id="popup-message" class="popup-message">
            <div class="popup-content">
                <h2>¡Bienvenido a la lección: {{ leccion.nivel.name }}!</h2>
                <p>{{ leccion.descripcion }}</p>
                <button id="start-button" class="btn-primary">Comenzar</button>
            </div>
        </div>

        <!-- Mensaje emergente para indicar éxito en la detección de la seña -->
        <div id="success-message" class="popup-message" style="display:none;">
            <div class="popup-content">
                <h2>¡Seña correcta!</h2>
                <p>Has realizado la seña correctamente. Haz clic en "Siguiente" para continuar.</p>
                <button id="next-button" class="btn-primary">Siguiente</button>
            </div>
        </div>

        <!-- Contenido principal oculto inicialmente -->
        <div id="content-container" class="containereva" style="display:none;">
            <!-- Cuadro izquierdo: Mostrar solo si es alfabeto -->
            {% if tipo_leccion == "alfabeto" %}
            <div class="left-box">
                <h2>Letra Actual: <span id="letra-actual">{{ letra_actual }}</span></h2>
                <img id="imagen-letra" src="{{ senal_detectada }}" alt="Imagen de la Letra {{ letra_actual }}" width="300px">
            </div>
            {% endif %}

            <!-- Cuadro derecho con la cámara -->
            <div class="camera-container">
                <h2>Detector de Señales IA</h2>
                <!-- Transmisión en vivo de la cámara -->
                <img src="{% url 'core:video_feed' tipo_leccion %}" width="640" height="480" alt="Video en tiempo real">
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const popup = document.getElementById('popup-message');
            const contentContainer = document.getElementById('content-container');
            const startButton = document.getElementById('start-button');
            const successMessage = document.getElementById('success-message');
            const nextButton = document.getElementById('next-button');
            const letraActual = document.getElementById('letra-actual');
            const imagenLetra = document.getElementById('imagen-letra');
            const tipoLeccion = "{{ tipo_leccion }}".toLowerCase();
            console.log("Tipo de lección: ", tipoLeccion);   // Aquí tomamos el valor de tipo_leccion
    
            startButton.onclick = function() {
                popup.style.display = 'none';
                contentContainer.style.display = 'flex';
                iniciarDeteccion();  
            };
    
            function mostrarMensajeExito() {
                successMessage.style.display = 'flex'; 
            }
    
            function onSenalDetectada(senal_detectada) {
                console.log("Señal detectada: ", senal_detectada);  // Verifica qué valor tiene
            
                // Asegúrate de que tipoLeccion esté correctamente definido
                const tipoLeccion = "{{ tipo_leccion }}";  // Asegúrate de que esto esté disponible en tu plantilla HTML
            
                $.ajax({
                    url: "{% url 'core:detectar_senal' %}",
                    type: 'POST',
                    data: {
                        'senal_realizada': senal_detectada,
                        'tipo_leccion': tipoLeccion,  // Envía el tipo de lección ('alfabeto' o 'numeros')
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        console.log("Respuesta del servidor:", response);
                        if (response.status === 'success') {
                            mostrarMensajeExito();
                        } else {
                            console.log('Seña incorrecta');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('Error al enviar la seña detectada:', error);
                    }
                });
            }                                                    
    
            function detectarSenalDesdeBackend() {
                $.ajax({
                    url: "{% url 'core:detectar_senal' %}",
                    type: 'GET',
                    data: {
                        'tipo_leccion': tipoLeccion  // Aquí también enviamos el tipo_leccion para la detección
                    },
                    success: function(response) {
                        console.log('Respuesta del servidor:', response);  // Imprimir toda la respuesta para depuración
                        if (response.status === 'success') {
                            var senal_detectada = response.senal_detectada;
                            onSenalDetectada(senal_detectada);
                        } else {
                            console.log('No se detectó ninguna seña.');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.log('Error al detectar la seña:', error);
                    }
                });
            }            
    
            function iniciarDeteccion() {
                setInterval(detectarSenalDesdeBackend, 2000);  // Cada 2 segundos, revisamos detección de señas
            }
        });
    </script>       
</body>
{% endblock %}
