{% extends 'components/base.html' %}
{% block title %}{{ title1 }}{% endblock %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home2</title>
    <style>
        body {
            background-image: url('{% static "img/fondohome2.jpeg" %}');
            background-size: cover; /* Asegura que la imagen cubra todo el fondo */
            background-position: center; /* Centra la imagen */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            height: 100vh; /* Asegura que el fondo ocupe toda la pantalla */
            margin: 0; /* Elimina márgenes */
        }
    </style>
</head>

<section class="bodylogin hide-buttons">
    <div class="main-container-login">
        <div class="card-login">
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                
                <!-- Campo para el usuario -->
                <label for="{{ form.username.id_for_label }}" class="dark:text-green-300 font-black uppercase text-lg z-20">{{ form.username.label }}</label>
                <div class="input-group">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 top-6">
                        <i class="text-green-400 dark:text-green-300 fa-solid fa-user"></i>
                    </span>
                    <input type="text"
                        class="pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-green-500 dark:focus:border-green-500 dark:shadow-sm-light"
                        id="id_username" name="username">
                </div>
                
                <!-- Campo para la contraseña -->
                <label for="{{ form.password.id_for_label }}" class="dark:text-green-300 font-black uppercase text-lg z-20">{{ form.password.label }}</label>
                <div class="input-group">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3 top-6">
                        <i class="text-green-400 dark:text-green-300 fa-solid fa-lock"></i>
                    </span>
                    <input type="password"
                        class="pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-green-500 dark:focus:border-green-500 dark:shadow-sm-light"
                        id="id_password" name="password">
                    <span class="absolute inset-y-0 right-0 flex items-center pr-3 top-6">
                        <button class="btn btn-outline-secondary p-2" type="button" id="togglePassword">
                            <i class="fas fa-eye"></i>
                        </button>
                </div>
                
                <!-- Enlace de olvido de contraseña -->
                <span class="forgot-password">
                    <a href="" class="text-green-600 hover:underline dark:text-green-300 font-Tiny5 uppercase">¿Olvidé mi contraseña?</a>
                </span>

                <!-- Botón de inicio de sesión -->
                <button type="submit" class="button">Login</button>
            </form>
            
            <div class="registration-text">
                <span class="not-registered">¿No estoy registrado?</span>
                <a href="{% url 'security:auth_signup' %}" class="register">Regístrate</a> 
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("togglePassword").addEventListener("click", function () {
        var passwordInput = document.getElementById("id_password");
        var icon = this.querySelector("i");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    });
</script>

{% endblock %}
{% block navbar %}
{% endblock navbar %}
