<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Registro</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"> 
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    {% load static %}
    {% load static tailwind_tags %}

    <!-- Tailwind css -->
    {% tailwind_css %}

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Flowbite JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- AOS Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="text-secondary loading text-items font-Quicksand text-lg font-light" style="margin: 0; padding: 0; background-color: #F5F1DA; background-image: url('{% static "img/fondohome2.jpeg" %}');">

    <!-- Sección principal con Tailwind y fondo de imagen ajustado -->
    <section class="flex justify-center items-center h-screen bg-cover bg-center">
        <div class="p-8 bg-transparent border border-white rounded-lg backdrop-blur-md flex flex-col justify-center items-center" style="width: 700px; height: 670px; padding: 20px; box-sizing: border-box;">
            <h1 class="text-3xl font-bold text-center text-gray-800 mb-2 mt-4" style="color: black; font-family: 'Jomolhari', serif">Registro</h1>
            <form method="POST" class="w-full">

                {% csrf_token %}
                
                <!-- Dividir en dos columnas -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ml-2 mt-6">
                    <!-- Columna izquierda -->
                    <!-- Input Username con ícono a la derecha -->
                    <div class="mb-4 relative">
                        <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium" style="color: black;">{{ form.username.label }}</label>
                        <input type="text" class="pr-4 py-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 bg-transparent placeholder-gray-500" id="id_username" name="username" value="{{ form.username.value|default_if_none:'' }}" placeholder="Usuario" style="text-indent: 2.5rem; color: black;" oninput="this.style.color='black'">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none" style="top: 40%;">
                            <i class="fas fa-user" style="color: black;"></i>
                        </span>
                    </div>

                    <!-- Input First Name con ícono a la derecha -->
                    <div class="mb-4 relative">
                        <label for="{{ form.first_name.id_for_label }}" class="block text-sm font-medium" style="color: black;">{{ form.first_name.label }}</label>
                        <input type="text" class="pr-4 py-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 bg-transparent placeholder-gray-500" id="id_first_name" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" placeholder="Nombre" style="text-indent: 2.5rem; color: black;" oninput="this.style.color='black'">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none" style="top: 40%;">
                            <i class="fas fa-user-alt" style="color: black;"></i>
                        </span>
                    </div>

                    <!-- Input Last Name con ícono a la derecha -->
                    <div class="mb-4 relative">
                        <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium" style="color: black;">{{ form.last_name.label }}</label>
                        <input type="text" class="pr-4 py-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 bg-transparent placeholder-gray-500" id="id_last_name" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" placeholder="Apellido" style="text-indent: 2.5rem; color: black;" oninput="this.style.color='black'">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none" style="top: 40%;">
                            <i class="fas fa-user-alt" style="color: black;"></i>
                        </span>
                    </div>

                    <!-- Input Phone con ícono a la derecha -->
                    <div class="mb-4 relative">
                        <label for="{{ form.phone.id_for_label }}" class="block text-sm font-medium" style="color: black;">{{ form.phone.label }}</label>
                        <input type="text" class="pr-4 py-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 bg-transparent placeholder-gray-500" id="id_phone" name="phone" value="{{ form.phone.value|default_if_none:'' }}" placeholder="Teléfono" style="text-indent: 2.5rem; color: black;" oninput="this.style.color='black'">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none" style="top: 40%;">
                            <i class="fas fa-phone-alt" style="color: black;"></i>
                        </span>
                    </div>

                    <!-- Input Email con ícono a la derecha -->
                    <div class="mb-4 relative">
                        <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium" style="color: black;">{{ form.email.label }}</label>
                        <input type="email" class="pr-4 py-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 bg-transparent placeholder-gray-500" id="id_email" name="email" value="{{ form.email.value|default_if_none:'' }}" placeholder="Correo" style="text-indent: 2.5rem; width: 320px; color: black;">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none" style="top: 25%;">
                            <i class="fas fa-envelope" style="color: black;"></i>
                        </span>
                    </div>

                    <!-- Input Password con ícono a la derecha -->
                    <div class="mb-4 relative">
                        <label for="{{ form.password1.id_for_label }}" class="block text-sm font-medium" style="color: black;">{{ form.password1.label }}</label>
                        <input type="password" class="pr-4 py-2 block w-3/4 shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 bg-transparent placeholder-gray-500" id="id_password1" name="password1" placeholder="Contraseña" style="text-indent: 2.5rem; width: 320px; color: black;">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none" style="top: 25%;">
                            <i class="fas fa-lock" style="color: black;"></i>
                        </span>
                        <a href="javascript:void(0)" id="togglePassword1" class="absolute right-0 pr-3 flex items-center" style="top: 55%; transform: translateY(-20%);">
                            <i id="eyeIcon1" class="fas fa-eye-slash" style="color: black;"></i>
                        </a>    
                    </div>                    
                </div>

                <!-- Input Confirm Password con ícono a la derecha -->
                <div class="mb-4 relative" style="margin-left: 180px;">
                    <label for="{{ form.password2.id_for_label }}" class="block text-sm font-medium" style="color: black;">{{ form.password2.label }}</label>
                    <input type="password" class="pr-4 py-2 block w-3/4 shadow-sm sm:text-sm border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500 bg-transparent placeholder-gray-500" id="id_password2" name="password2" placeholder="Confirmar contraseña" style="text-indent: 2.5rem; width: 320px; color: black;">
                    <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none" style="top: 45%;">
                        <i class="fas fa-lock" style="color: black;"></i>
                    </span>
                    <a href="javascript:void(0)" id="togglePassword2" class="absolute" style="right: 180px; top: 60%; transform: translateY(-20%);">
                        <i id="eyeIcon2" class="fas fa-eye-slash" style="color: black;"></i>
                    </a> 
                </div>

                <!-- Botón de registro -->
                <div class="flex justify-center mb-4">
                    <button type="submit" class="text-white py-2 px-4 rounded-md shadow-md w-full flex items-center justify-center" style="background-image: url('{% static "img/login_boton.jpg" %}'); background-size: cover; background-position: center;">
                        Registrarse
                    </button>
                </div>

            </form>

            <!-- Texto de iniciar sesión -->
            <div class="text-center mb-4">
                <p class="text-sm text-white">¿Ya tienes una cuenta? <a href="{% url 'security:auth_login' %}" class="text-orange-500 hover:underline">Iniciar sesión</a></p>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/sweet_alert.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        AOS.init({
            duration: 1000,
            once: true,
        });
    </script>

    <script>
        // Funcionalidad para el primer campo de contraseña
        const togglePassword1 = document.getElementById('togglePassword1');
        const passwordField1 = document.getElementById('id_password1');
        const eyeIcon1 = document.getElementById('eyeIcon1');

        togglePassword1.addEventListener('click', function () {
            const type = passwordField1.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField1.setAttribute('type', type);

            if (type === 'text') {
                eyeIcon1.classList.remove('fa-eye-slash');
                eyeIcon1.classList.add('fa-eye');
            } else {
                eyeIcon1.classList.remove('fa-eye');
                eyeIcon1.classList.add('fa-eye-slash');
            }
        });

        // Funcionalidad para el campo de confirmación de contraseña
        const togglePassword2 = document.getElementById('togglePassword2');
        const passwordField2 = document.getElementById('id_password2');
        const eyeIcon2 = document.getElementById('eyeIcon2');

        togglePassword2.addEventListener('click', function () {
            const type = passwordField2.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField2.setAttribute('type', type);

            if (type === 'text') {
                eyeIcon2.classList.remove('fa-eye-slash');
                eyeIcon2.classList.add('fa-eye');
            } else {
                eyeIcon2.classList.remove('fa-eye');
                eyeIcon2.classList.add('fa-eye-slash');
            }
        });
    </script>
</body>
</html>
