{% extends 'components/base.html' %}
{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<section class="dark:bg-principal mt-20 justify-center">
    <div class="text-center" data-aos="fade" data-aos-delay="200">
        <div class="flex flex-col items-center justify-center">
            <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm"></span>
        </div>
        <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">{{ title2 }}</h1>
        <p class="dark:text-gray-400 text-center mt-6 text-lg font-light">
            Complete las casillas para guardar un nuevo permiso!
        </p>
    </div>
    <div class="flex justify-center items-center mt-8 py-8"> <!-- Añadido padding arriba y abajo -->
        <form id="permissions-form" method="post" enctype="multipart/form-data" class="space-y-6 py-4 w-full sm:w-auto max-w-6xl mx-auto">
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-12 mx-4 lg:mx-20 p-4 rounded-3xl dark:bg-secundario bg-white shadow-md">
                <div class="flex flex-col justify-center items-center w-full">
                    {% csrf_token %}
                    <div class="w-full mb-8">
                        <label class="dark:text-blue-300 font-black uppercase text-lg">Grupos</label>
                        {{ form.group }}
                    </div>
                    <div id="modules-container" class="w-full mb-8 hidden">
                        <label class="dark:text-blue-300 font-black uppercase text-lg">Módulos</label>
                        <div id="modules-list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3"></div>
                    </div>
                    <div class="flex justify-center mb-4 space-x-4">
                        <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center">
                            <i class="fa-solid fa-save mr-2"></i>Guardar
                        </button>
                        <a class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center" href="{% url 'security:groupmodulepermission_list' %}">
                            <i class="fa-solid fa-xmark mr-2"></i>Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const groupSelect = document.getElementById('id_group');
        const modulesContainer = document.getElementById('modules-container');
        const modulesList = document.getElementById('modules-list');

        groupSelect.addEventListener('change', function () {
            const groupId = this.value;
            if (groupId) {
                fetch(`/security/get_group_permissions/${groupId}/`)
                    .then(response => response.json())
                    .then(data => {
                        modulesList.innerHTML = '';
                        data.forEach(item => {
                            const moduleDiv = document.createElement('div');
                            moduleDiv.classList.add('flex', 'flex-col', 'mb-8', 'p-4', 'rounded-lg');

                            const moduleCheckboxContainer = document.createElement('div');
                            moduleCheckboxContainer.classList.add('flex', 'items-center', 'justify-between', 'mb-2');

                            const moduleCheckbox = document.createElement('input');
                            moduleCheckbox.type = 'checkbox';
                            moduleCheckbox.id = `module_${item.module_id}`;
                            moduleCheckbox.name = 'modules[]';
                            moduleCheckbox.value = item.module_id;
                            moduleCheckbox.classList.add('module-checkbox', 'mr-2');

                            const moduleLabel = document.createElement('label');
                            moduleLabel.htmlFor = moduleCheckbox.id;
                            moduleLabel.textContent = item.module_name;
                            moduleLabel.classList.add('dark:text-blue-300', 'font-medium');

                            const toggleButton = document.createElement('button');
                            toggleButton.type = 'button';
                            toggleButton.classList.add('ml-2', 'text-blue-500');
                            toggleButton.innerHTML = '<i class="fa-solid fa-eye"></i>';
                            toggleButton.onclick = function () {
                                togglePermissions(item.module_id);
                                moduleCheckbox.checked = true; // Marca el checkbox del módulo al mostrar los permisos
                            };

                            moduleCheckboxContainer.appendChild(moduleCheckbox);
                            moduleCheckboxContainer.appendChild(moduleLabel);
                            moduleCheckboxContainer.appendChild(toggleButton);

                            const permissionsContainer = document.createElement('div');
                            permissionsContainer.id = `permissions-container-${item.module_id}`;
                            permissionsContainer.classList.add('space-y-2', 'pl-6', 'permissions-container');
                            if (item.assigned_permissions.length === 0) {
                                permissionsContainer.classList.add('hidden');
                            }

                            item.permissions.forEach(permission => {
                                const permissionCheckboxContainer = document.createElement('div');
                                permissionCheckboxContainer.classList.add('flex', 'items-center');

                                const permissionCheckbox = document.createElement('input');
                                permissionCheckbox.type = 'checkbox';
                                permissionCheckbox.id = `permission_${item.module_id}_${permission.id}`;
                                permissionCheckbox.name = `permissions_${item.module_id}[]`;
                                permissionCheckbox.value = permission.id;
                                permissionCheckbox.classList.add('mr-2');
                                if (item.assigned_permissions.some(ap => ap.id === permission.id)) {
                                    permissionCheckbox.checked = true;
                                }

                                const permissionLabel = document.createElement('label');
                                permissionLabel.htmlFor = permissionCheckbox.id;
                                permissionLabel.textContent = permission.name;
                                permissionLabel.classList.add('dark:text-blue-300', 'font-medium');

                                permissionCheckboxContainer.appendChild(permissionCheckbox);
                                permissionCheckboxContainer.appendChild(permissionLabel);
                                permissionsContainer.appendChild(permissionCheckboxContainer);
                            });

                            const selectAllLink = document.createElement('a');
                            selectAllLink.href = '#';
                            selectAllLink.textContent = 'Seleccionar Todos';
                            selectAllLink.classList.add('text-blue-700', 'hover:text-blue-800', 'block', 'mt-2');
                            selectAllLink.addEventListener('click', function (event) {
                                event.preventDefault();
                                const permissionCheckboxes = permissionsContainer.querySelectorAll('input[type="checkbox"]');
                                permissionCheckboxes.forEach(checkbox => {
                                    checkbox.checked = true;
                                });
                            });

                            permissionsContainer.appendChild(selectAllLink);

                            moduleDiv.appendChild(moduleCheckboxContainer);
                            moduleDiv.appendChild(permissionsContainer);
                            modulesList.appendChild(moduleDiv);

                            // Event listener para mostrar permisos al marcar el checkbox del módulo
                            moduleCheckbox.addEventListener('change', function () {
                                if (this.checked) {
                                    togglePermissions(item.module_id);
                                } else {
                                    const permissionsContainer = document.getElementById(`permissions-container-${item.module_id}`);
                                    permissionsContainer.classList.add('hidden');
                                }
                            });
                        });
                        modulesContainer.classList.remove('hidden');
                    });
            } else {
                modulesContainer.classList.add('hidden');
                modulesList.innerHTML = '';
            }
        });
    });

    const togglePermissions = function (moduleId) {
        const permissionsContainer = document.getElementById(`permissions-container-${moduleId}`);
        if (permissionsContainer.classList.contains('hidden')) {
            permissionsContainer.classList.remove('hidden');
        } else {
            permissionsContainer.classList.add('hidden');
        }
    };
</script>
{% endblock %}
