{% extends 'components/base.html' %}

{% block content %}
    <title>{% block title %} Lista de Menús {% endblock title %}</title>
    <section class="dark:bg-principal mt-20">
        <div class="text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="flex flex-col items-center justify-center">
                <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                    Menús
                </span>
            </div>
            <h1 class="dark:text-white text-4xl text-center mt-6 font-light">
                Gestione sus menús
            </h1>
        </div>
        <div class="m-4 lg:m-8 sm:mx-40 sm:my-2 lg:grid lg:grid-cols-4 gap-8 lg:mx-20 lg:p-4 rounded-3xl" data-aos="fade-up" data-aos-delay="200">
            {% for menu in menus %}
                <div class="dark:bg-secundario relative overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md dark:border-none">
                    <div class="p-4">
                        <h1 class="dark:text-blue-400 text-2xl text-center mt-6 font-black uppercase">
                            {{ menu.name }}
                        </h1>
                        <div class="dark:bg-contenedores card-footer flex justify-center mt-4">
                            <a href="{% url 'security:menu_update' menu.id %}" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2 flex items-center">
                                <i class="fa-solid fa-gear mr-2"></i> Editar
                            </a>
                            <button class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center" onclick="openDeleteModal('{{ menu.id }}', '{{ menu.name }}')">
                                <i class="fa-solid fa-trash mr-2"></i> Eliminar
                            </button>
                            <noscript>
                                <a href="{% url 'security:menu_delete' menu.id %}" class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center">
                                    <i class="fa-solid fa-trash mr-2"></i> Eliminar
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="flex flex-col md:flex-row justify-center form-group text-center p-4">
            <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2 mb-2 md:mb-0 flex items-center justify-center" href="{% url 'security:menu_create' %}">
                <i class="fa-solid fa-plus mr-2"></i> Nuevo Menú
            </a>
            <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center justify-center" href="{% url 'modulos' %}">
                <i class="fa-solid fa-house"></i>
            </a>
        </div>
    </section>

    {% include 'security/delete.html' %}
    <script>
        function openDeleteModal(id, name) {
            const deleteForm = document.getElementById('deleteForm');
            deleteForm.action = `{% url 'security:menu_delete' 0 %}`.replace('0', id);
            document.getElementById('Description').textContent = `ID: ${id} - ${name}`;
            document.getElementById('deleteModal').classList.remove('hidden');
        }
        function closeModal() {
            document.getElementById('deleteModal').classList.add('hidden');
        }
    </script>
{% endblock %}
