<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    {% load static %}
    {% load static tailwind_tags %}
	<!-- Tailwind css -->
	{% tailwind_css %}
    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

	<!-- Flowbite JS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

	<!-- AOS Library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
		integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />    
        
    <!-- Iconos -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

	<!--  ApexCharts  -->
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    {% block extra_head %}{% endblock %}

    <script>
		// Aplicar el tema tan pronto como sea posible
		(function() {
			const isDarkModeEnabled = localStorage.getItem('darkModeEnabled') === 'true';
			if (isDarkModeEnabled) {
				document.documentElement.classList.add('dark');
			}
			document.documentElement.classList.add('loaded');
		})();
		(function() {
			const savedTheme = localStorage.getItem('theme') || 'light';
			document.documentElement.className = savedTheme;
			document.documentElement.classList.add('loaded');
		  })();
	</script>

</head>

<body class="text-secondary loading text-items font-Quicksand text-lg font-light">

	<!-- Navbar -->
	{% block navbar %}
	<header class="top-0 left-0 right-0 z-50 fixed w-full border-b border-gray-300" style="background-color: #FCF8E1;">
		<nav class="border-gray-200 dark:bg-principal">
			<div class="container-fluid d-none d-lg-block">
				<div class="row align-items-center py-4 px-xl-5">
					<!-- Columna para el logo y la casa -->
					<div class="col-lg-3 d-flex align-items-center">
						<a href="/modulos/" class="text-decoration-none">
							<img src="{% static 'img/logodulnane.jpeg' %}" alt="Logo de DULNANE" style="height: 50px; width: 250px;">
						</a>
						<a href="/" class="text-decoration-none" style="margin-left: 20px;">
							<img src="{% static 'img/iconcasa.png' %}" alt="Icono de casa" style="height: 20px; width: 20px;">
						</a>
					</div>
					<!-- Columna para el círculo de perfil -->
					<div class="col-lg-9 d-flex justify-content-end align-items-center">
						<button type="button" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
							data-dropdown-placement="bottom" class="text-sm rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
							style="padding: 0; display: flex; justify-content: center; align-items: center; width: 60px; height: 60px;">
							<span class="sr-only">Open user menu</span>
							{% if user.is_authenticated %}
								<img class="rounded-full" src="{{ user.get_image }}" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover;">
							{% else %}
								<img class="rounded-full" src="{% static 'img/perfil_random.jpeg' %}" alt="Random" style="width: 100%; height: 100%; object-fit: cover;">
							{% endif %}
						</button>

						<!-- Dropdown de perfil -->
						<div id="user-dropdown" class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow">
							{% if user.is_authenticated %}
                            <div class="px-4 py-3">
								<span class="block text-sm text-gray-900 dark:text-white">{{ user.username }}</span>
								<span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">{{ user.email }}</span>
							</div>

							<ul class="py-1">
								<li>
									<a href="{% url 'security:auth_profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400">Perfil</a>
								</li>
								<li>
									<a href="{% url 'security:auth_logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400">Cerrar Sesión</a>
								</li>
							</ul>
                            {% else %}
							<ul class="py-2" aria-labelledby="user-menu-button">
							<li>
								<a href="{% url 'security:auth_signup' %}" onclick="closeDropdown()"
								class="block px-4 py-2 font-bold text-gray-500 truncate dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-500 transition-all">Registrarse</a>
							</li>
							<li>
								<a href="{% url 'security:auth_login' %}" onclick="closeDropdown()"
								class="block px-4 py-2 font-bold text-gray-500 truncate dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-500 transition-all">Iniciar Sesión</a>
							</li>
							</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	{% endblock navbar %}

	<!-- Contenido con espacio para el header fijo -->
	<div class="pt-24"> <!-- Aumentar el padding-top para evitar que el contenido quede oculto por el header -->
        {% block content %}
        {% endblock content %}
	</div>

    <!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="{% static 'js/sweet_alert.js' %}"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
		integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const userMenuButton = document.getElementById('user-menu-button');
			const userDropdown = document.getElementById('user-dropdown');

			userMenuButton.addEventListener('click', function() {
				userDropdown.classList.toggle('hidden');
			});

			document.addEventListener('click', function(event) {
				if (!userMenuButton.contains(event.target) && !userDropdown.contains(event.target)) {
					userDropdown.classList.add('hidden');
				}
			});
		});
	</script>

	<script>
		AOS.init();
	</script>

	<script>
		window.addEventListener('scroll', function () {
			var navbar = document.getElementById('main-header');
			var scrollPos = window.scrollY || window.pageYOffset;
	
			if (scrollPos > 0) {
				navbar.style.backgroundColor = "#A0A38A"; // Cambia al color que desees al hacer scroll
			} else {
				navbar.style.backgroundColor = "#A0A38A"; // Color inicial cuando no hay scroll
			}
		});
	</script>

	<script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordField = document.getElementById('id_password');
        const eyeIcon = document.getElementById('eyeIcon');
    
        togglePassword.addEventListener('click', function () {
            // Alterna el tipo de input entre 'password' y 'text'
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
    
            // Alterna el icono del ojo abierto/cerrado
            if (type === 'text') {
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            } else {
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            }
        });
    </script>

</body>

</html>
