{% extends 'components/base.html' %}
{% load static %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>

{% block content %}
<!-- SECCIÓN DEL HERO -->
<section>
    {% if not user.is_superuser %}
        <div class="container-fluid mx-auto">
            <div class="row py-1">
                <div class="col-lg-12 px-0">
                    <nav class="navbar navbar-expand-lg py-0">
                        <div class="navbar-nav flex justify-between items-center w-full px-4">
                            <a class="nav-item nav-link text-center text-gray-700 font-medium" href="#" style="padding-left: 50px;">Información</a>
                            <div class="vr"></div>
                            <a class="nav-item nav-link text-center text-gray-700 font-medium" href="#">Lenguaje de Señas</a>
                            <div class="vr"></div>
                            <a class="nav-item nav-link text-center text-gray-700 font-medium" href="#">Guía</a>
                            <div class="vr"></div>
                            <a class="nav-item nav-link text-center text-gray-700 font-medium" href="#" style="padding-right: 50px;">IA</a>
                        </div>                        
                    </nav>
                </div>
            </div>
        </div>

        <!-- Carrusel -->
        <div id="header-carousel" class="container-fluid p-0 pb-5 mb-5">
            <div class="carousel slide carousel-fade relative h-96" data-bs-ride="carousel" data-bs-interval="3000">
                <ol class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
                    <li data-bs-target="#header-carousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#header-carousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#header-carousel" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner h-96">
                    <div class="carousel-item active h-96">
                        <img class="w-full h-full object-cover" src="{% static 'img/inicio1.webp' %}" alt="Primera imagen">
                        <div class="carousel-caption flex items-center justify-center absolute inset-0 bg-black bg-opacity-50">
                            <div class="p-5 text-center max-w-2xl">
                                <h5 class="text-white uppercase mb-3">Best Online Sign Language Course</h5>
                                <h1 class="text-white text-3xl md:text-5xl font-bold mb-4">Best Education From Your Home</h1>
                                <a href="javascript:void(0)" onclick="showSelection()" style="background-color: #f97316; color: white;" class="py-2 px-4 rounded-lg mt-3">Empezar</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-96">
                        <img class="w-full h-full object-cover" src="{% static 'img/lenguaje_senas.jpg' %}" alt="Segunda imagen">
                        <div class="carousel-caption flex items-center justify-center absolute inset-0 bg-black bg-opacity-50">
                            <div class="p-5 text-center max-w-2xl">
                                <h5 class="text-white uppercase mb-3">Best Online Sign Language Course</h5>
                                <h1 class="text-white text-3xl md:text-5xl font-bold mb-4">Best Education From Your Home</h1>
                                <a href="javascript:void(0)" onclick="showSelection()" style="background-color: #f97316; color: white;" class="py-2 px-4 rounded-lg mt-3">Empezar</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-96">
                        <img class="w-full h-full object-cover" src="{% static 'img/lenguajeSeñas.png' %}" alt="Tercera imagen">
                        <div class="carousel-caption flex items-center justify-center absolute inset-0 bg-black bg-opacity-50">
                            <div class="p-5 text-center max-w-2xl">
                                <h5 class="text-white uppercase mb-3">Best Online Sign Language Course</h5>
                                <h1 class="text-white text-3xl md:text-5xl font-bold mb-4">Best Education From Your Home</h1>
                                <a href="javascript:void(0)" onclick="showSelection()" style="background-color: #f97316; color: white;" class="py-2 px-4 rounded-lg mt-3">Empezar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</section>

<!-- Fullscreen Selection Section -->
<section id="selection-section" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" style="backdrop-filter: blur(10px);">
    {% if not user.is_authenticated %}
        <div class="flex justify-center mt-10">
            <a href="{% url 'security:auth_login' %}" class="card bg-white shadow-xl rounded-xl text-center p-10 hover:scale-105 transform transition duration-300 w-80 mx-10" style="margin-right: 1cm; text-decoration: none;">
                <div class="flex flex-col items-center justify-center h-full">
                    <i class="fas fa-user-shield mb-4 text-8xl" style="color: #474747;"></i>
                    <p class="text-xl font-semibold mt-3 text-black">Administrador</p>
                </div>
            </a>            
            <a href="{% url 'security:auth_login' %}" class="card bg-white shadow-xl rounded-xl text-center p-10 hover:scale-105 transform transition duration-300 w-80 mx-10" style="margin-right: 1cm; text-decoration: none;">
                <div class="flex flex-col items-center justify-center h-full">
                    <i class="fas fa-user mb-4 text-8xl" style="color: #474747;"></i>
                    <p class="text-xl font-semibold mt-3 text-black">Usuario</p>
                </div>
            </a>
            <a href="{% url 'home' %}" class="card bg-white shadow-xl rounded-xl text-center p-10 hover:scale-105 transform transition duration-300 w-80 mx-10" style="margin-right: 0; text-decoration: none;">
                <div class="flex flex-col items-center justify-center h-full">
                    <i class="fa-solid fa-users mb-4 text-8xl" style="color: #474747;"></i>
                    <p class="text-xl font-semibold mt-3 text-black">Invitado</p>
                </div>
            </a>            
        </div>
    {% endif %}
</section>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
    function showSelection() {
        // Ocultar el carrusel y la sección de información
        document.getElementById('header-carousel').style.display = 'none';

        // Mostrar la sección de selección de usuarios
        document.getElementById('selection-section').classList.remove('hidden');
    }
</script>

{% endblock %}
