{% extends 'components/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<section class="dark:bg-principal mt-8 flex justify-center">
    <div class="text-center" data-aos="fade" data-aos-delay="200">
        <div class="sm:pt-28 lg:pt-24">
            <p class="text-black text-center mt-20 text-lg font-light">
                Consulta de módulos
            </p>
        </div>

        <!-- Formulario centralizado con fondo más oscuro y letras negras -->
        <div class="bg-orange-500 rounded-xl p-8 shadow-lg max-w-xl mx-auto" style="margin-top: -30px;"> <!-- Margen negativo añadido -->
            <form method="post" class="space-y-6 py-4">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-6">

                    <!-- Campo Nombre -->
                    <div class="flex flex-col">
                        <label for="{{ form.name.id_for_label }}" class="text-black font-black text-lg text-center">{{ form.name.label }}</label>
                        {{ form.name|add_class:"mt-1 block w-full px-4 py-3 border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-black" }} <!-- Letras negras añadidas -->
                    </div>

                    <!-- Campo URL -->
                    <div class="flex flex-col">
                        <label for="{{ form.url.id_for_label }}" class="text-black font-black uppercase text-lg text-center">{{ form.url.label }}</label>
                        {{ form.url|add_class:"mt-1 block w-full px-4 py-3 border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-black" }} <!-- Letras negras añadidas -->
                    </div>

                    <!-- Campo Es activo -->
                    <div class="flex flex-col">
                        <label for="{{ form.is_active.id_for_label }}" class="text-black font-black uppercase text-lg text-center">{{ form.is_active.label }}</label>
                        {{ form.is_active|add_class:"mt-1 block w-full px-4 py-3 border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-black" }} <!-- Letras negras añadidas -->
                    </div>

                    <!-- Campo Permisos -->
                    <div class="flex flex-col">
                        <label for="{{ form.permissions.id_for_label }}" class="text-black font-black text-lg text-center">{{ form.permissions.label }}</label>
                        {{ form.permissions|add_class:"mt-1 block w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-black" }} <!-- Letras negras añadidas -->
                    </div>
                </div>

                <!-- Botones -->
                <div class="flex flex-col md:flex-row justify-center mt-6 space-y-2 md:space-y-0 md:space-x-2">
                    <button type="submit"
                        class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center shadow-md transform hover:scale-105 transition-transform duration-300">
                        <i class="fa-solid fa-save mr-2"></i>Guardar
                    </button>
                    <a class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center shadow-md transform hover:scale-105 transition-transform duration-300"
                        href="{% url 'security:module_list' %}">
                        <i class="fa-solid fa-xmark mr-2"></i>Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    const iconInput = document.getElementById('{{ form.icon.id_for_label }}');
    const iconSelected = document.getElementById('iconSelected');

    iconInput.addEventListener('input', function () {
        const iconClass = iconInput.value;
        if (iconClass) {
            iconSelected.className = iconClass;
        } else {
            iconSelected.className = 'bi bi-x-octagon';
        }
    });
</script>

{% endblock content %}
