{% extends 'components/base.html' %} 
{% load static %}

{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<section class="dark:bg-principal mt-20">
    <div class="flex flex-col items-center justify-center mt-10"> <!-- Aumenté el margin-top para bajar la parte superior -->
        <span style="color: black !important; font-size: 1.25rem; font-family: 'Jomolhari', serif;">Perfil</span>  
    </div>
    <div class="text-center" data-aos="fade" data-aos-delay="200">
        <h1 class="dark:text-white text-4xl text-center mt-6 font-black my-2" style="color: black; font-family: 'Jomolhari', serif;">
            {{ title2 }}
        </h1>
        <p class="text-center mt-6 text-lg font-light" style="color: #A0A38A; font-family: 'Jomolhari', serif;">
            Visualice su información.
        </p>
    </div>
    <form method="post" enctype="multipart/form-data" class="space-y-6 py-4">
        <div class="grid grid-cols-2 gap-8 mx-4 lg:mx-20" data-aos="fade">
            <!-- Columna izquierda -->
            <div class="bg-[#FAF3DD] dark:bg-principal rounded-3xl flex flex-col justify-center items-center p-12 pb-2" data-aos="fade-right" data-aos-delay="200">
                <h2 class="dark:text-blue-300 text-2xl text-center mt-6 font-black my-2 mb-4" style="color: black; font-family: 'Jomolhari', serif;">
                    Perfil de Usuario
                </h2>
                <div class="w-[60%] text-center rounded-lg overflow-hidden">
                    <div id="imagenPreview">
                        {% if user.get_image %}
                        <img src="{{ user.get_image }}" class="mx-auto d-block rounded-lg" alt="Foto de perfil" style="width: 200px; height: 200px; object-fit: cover;">
                        {% else %}
                        <img src="{% static 'img/perfil_random.jpeg' %}" class="mx-auto d-block rounded-lg" alt="Foto de perfil por defecto" style="width: 200px; height: 200px; object-fit: cover;">
                        {% endif %}
                    </div>
                </div>                
            </div>
            <!-- Columna derecha -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 rounded-3xl bg-[#FAF3DD] dark:bg-principal flex flex-col justify-center items-center" data-aos="fade-right" data-aos-delay="200">
                <!-- Datos de Usuario -->
                <div> 
                    <p class="dark:text-gray-400" style="color: black; font-family: 'Jomolhari', serif;">
                        <span class="dark:text-blue-300 font-black uppercase text-2xl" style="color: black;">Usuario:</span><br>{{ user.username }}
                        {% if user.is_superuser %}
                        <span class="font-black uppercase text-2xl" style="color: #E37E18; font-family: 'Jomolhari', serif;"> | Administrador</span>
                        {% endif %}
                    </p>
                </div>                               
                <div>
                    <p class="dark:text-gray-400" style="color: black; font-family: 'Jomolhari', serif;"><span class="dark:text-blue-300 font-black uppercase text-2xl" style="color: black;">Nombres:</span><br> {{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div>
                    {% if user.phone %}
                    <p class="dark:text-gray-400" style="color: black; font-family: 'Jomolhari', serif;"><span class="dark:text-blue-300 font-black uppercase text-2xl" style="color: black;">Celular:</span><br> {{ user.phone }}</p>
                    {% else %}
                    <p class="dark:text-gray-400" style="color: black; font-family: 'Jomolhari', serif;"><span class="dark:text-blue-300 font-black uppercase text-2xl" style="color: black;">Celular:</span><br> No Registrado</p>
                    {% endif %}
                </div>
                <div>
                    {% if user.email %}
                    <p class="dark:text-gray-400" style="color: black; font-family: 'Jomolhari', serif;"><span class="dark:text-blue-300 font-black uppercase text-2xl" style="color: black;">Correo:</span><br> <a href="mailto:{{ user.correo }}" style="color: black;">{{ user.email }}</a></p>
                    {% else %}
                    <p class="dark:text-gray-400" style="color: black; font-family: 'Jomolhari', serif;"><span class="dark:text-blue-300 font-black uppercase text-2xl" style="color: black;">Correo:</span><br> No Registrado</p>
                    {% endif %}
                </div>
            </div>
            <!-- Botones debajo de la imagen -->
            <div class="flex justify-center mt-2"> <!-- Cambié de mt-6 a mt-4 para subir los botones -->
                <a style="background-color: #A0A38A; font-family: 'Jomolhari', serif;" class="hover:bg-[#8C8D77] text-white py-2 px-4 rounded-full mr-2 flex items-center justify-center" href="{% url 'security:auth_update_profile' %}">
                    <i class="fa-solid fa-file-pen mr-2"></i> Actualizar Datos
                </a>
                <a style="background-color: #A0A38A; font-family: 'Jomolhari', serif;" class="hover:bg-[#8C8D77] text-white py-2 px-4 rounded-full mr-2 flex items-center justify-center" href="{% url 'security:auth_update_contra' %}">
                    <i class="fa-solid fa-key mr-2"></i> Actualizar Contraseña
                </a>
            </div>
        </div>
    </form>
</section>

{% endblock content %}
